body {
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

.title {
  text-align: center;
}

.btn-save {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}
.btn-save:focus {
  background-color: #0f730c;
}
.btn-save:hover {
  background-color: #0f730c;
  color: #fff;
}
.btn-save:active {
  background-color: #0f730c;
}
.btn-cancel {
  background-color: #979696;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
}
.btn-cancel:focus {
  background-color: #b1aeae;
}
.btn-cancel:hover {
  background-color: #b1aeae;
  color: #fff;
}
.btn-cancel:active {
  background-color: #b1aeae;
}
